# FRONTEND
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# BACKEND
PORT=5000

# Firebase Admin
# /frontend/.env.local (use your actual values)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBCq-KrFAzviAI3AAnkAX7N-SQMPattoxg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=profitpath-fa9b6.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=profitpath-fa9b6
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=profitpath-fa9b6.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=486507702021
NEXT_PUBLIC_FIREBASE_APP_ID=1:486507702021:web:ba81e1db9a4251e3d8796c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-ZYZCRGH71K


# Amazon MWS
SELLER_ID=
MWS_AUTH_TOKEN=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# UPS API
UPS_USERNAME=
UPS_PASSWORD=
UPS_ACCESS_KEY=

# PostgreSQL
DATABASE_URL=

